@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-balanza:before {
  content: "\61";
}
.icon-bicicleta:before {
  content: "\62";
}
.icon-binoculares:before {
  content: "\63";
}
.icon-avion:before {
  content: "\64";
}
.icon-balon:before {
  content: "\65";
}
.icon-mujer:before {
  content: "\66";
}
.icon-disquete:before {
  content: "\67";
}
.icon-campana:before {
  content: "\68";
}
.icon-libro:before {
  content: "\69";
}
.icon-carro:before {
  content: "\6a";
}
.icon-simbolo-hombre:before {
  content: "\6b";
}
.icon-martillo:before {
  content: "\6c";
}
.icon-mano:before {
  content: "\6d";
}
.icon-corazon:before {
  content: "\6e";
}
.icon-copa:before {
  content: "\6f";
}
.icon-llave:before {
  content: "\70";
}
.icon-internet:before {
  content: "\71";
}
.icon-flecha:before {
  content: "\72";
}
.icon-altoparlante:before {
  content: "\73";
}
.icon-asterisco:before {
  content: "\74";
}
.icon-facebook:before {
  content: "\75";
}
